profiles {
  alvis {
    params{
      cp2k_cmd = 'mpirun -n 4 cp2k.psmp'
    }

    executor{
      name = 'slurm'
      queueSize = 100
      submitRateLimit = '120 min'
    }

    process {
      time = '7d'
      accelerator = 1
      executor = 'slurm'

      beforeScript = '''
                module load Python/3.10.8-GCCcore-12.2.0
                source /mimer/NOBACKUP/groups/snic2022-5-322/zzy_data/my_python310/bin/activate
                export PYTHONPATH=/cephyr/users/zhanyun/Alvis/userData/PiNNAcLe-FT/bin:$PYTHONPATH
                '''

      withLabel: 'tips|molutils' {executor='local'}
      withLabel: 'pinn' {
        queue = 'alvis'
        clusterOptions = '-N 1 -n 1 -A your_account --gpus-per-node=V100:1 -J Pinnacle --time=4-00:00:00'
      }
      withLabel: 'cp2k' {
        clusterOptions = '-N 1 -n 1 -A your_account --gpus-per-node=V100:1 -J Cp2Kacle --time=1-00:00:00'
        container='/cephyr/users/zhanyun/Alvis/images/cp2k2023_2.sif'
      }
      withLabel: 'mace|tools' {
        executor='local'
      }
    }

    singularity {
      enabled = true
      autoMounts = true
      runOptions = '--nv'
    }
  }

  arrhen {
    params{
      cp2k_cmd = 'mpirun -n 4 /software/sse2/el9_gh200/easybuild/prefix/software/CP2K/2026.2-gmpichcnvpl-14.3.0/bin/cp2k.psmp'
      acle_dir = '/nobackup/proj/disk/snic2022-5-322/shared/zhanyun/PiNNAcLe-FT'
    }

    executor{
      name = 'slurm'
      queueSize = 100
      submitRateLimit = '120 min'
    }

    process {
      time = '3d'
      accelerator = 1
      executor = 'slurm'

      withLabel: 'tips|molutils|tools' {
        executor='local'
        container="${params.acle_dir}/docker/PiNN/pinn-cpu-acle.sif"
     }
      withLabel: 'pinn' {
        queue = 'gpu'
        clusterOptions = '-N 1 -n 1 -A naiss2026-3-693-gpu --gpus 1 -J pinnacle --time=1-00:00:0'
        container="${params.acle_dir}/docker/PiNN/pinn-gpu-acle-plumed.sif"
      }
      withLabel: 'cp2k' {
        queue = 'gpu'
        clusterOptions = '-N 1 -n 1 -A naiss2026-3-693-gpu --gpus 1 -J cp2kacle --time=1-00:00:0'
        beforeScript = '''
                module load GPU/buildtool-easybuild/5.2.1-hpca3ef7d197
                module load gmpichcnvpl/14.3.0
                '''
      }
      withLabel: 'mace' {
        queue = 'gpu'
        clusterOptions = '-N 1 -n 1 -A naiss2026-3-693-gpu --gpus 1 -J maceacle --time=0-01:00:0'
        beforeScript = '''
                module load GPU/Miniforge/26.3.2-2-eb
                conda activate /nobackup/proj/disk/snic2022-5-322/shared/zhanyun/conda_envs/pinnacle
                '''
      }
    }

    singularity {
      enabled = true
      autoMounts = false
      runOptions = "--nv -B /nobackup/proj/disk/snic2022-5-322 --env PYTHONPATH=${params.acle_dir}/bin"
    }
  }

}
